body {
  background-color: #f9f9f9;
}
footer{
  background-color: #000;
  color: #fff;
}
.green {
  color: green;
  font-size: 1.5em;
}

.red {
  color: red;
}

.intro {
  border: 1px solid;
  background-color: tomato;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3em;
  display: block;
  box-shadow: 1px 4px 4px 1px;
}

.intro .banner {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.banner{
  margin-top: 3%;
}

#app {
  margin: 3em auto;
}

#word-display {
  margin: 0 auto;
  width: 80%;
  border: 1px solid gray;
  padding: .25em;
  box-shadow: 0px 2px 3px;
}

#user-input {
  margin: 1em auto;
  width: 10em;
  display: block;
  box-shadow: inset 0px 0px 3px 0px;
}


.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
  text-align: center;
  padding-bottom: 1.5em;
}
.footer p{
  padding-top: 1em;
}
